flask
flask-sqlalchemy
flask-login
python-dotenv

pytest
pytest-cov
selenium
flask-testing

webdriver_manager
blinker

opencensus-ext-azure
opencensus-ext-flask
opencensus.ext.sqlalchemy

azure-monitor-opentelemetry-exporter 
opentelemetry-instrumentation-flask